<%= form_for(@data_file) do |f| %>
   <div class="form-group">
      <%= f.label :file, "Upload CSV File" %>
      <%= f.file_field :file, class: 'form-control-file', placeholder: 'Upload Your File', required: true %>
   </div>
   <%= f.submit "Upload CSV", class: 'btn btn-primary' %>
<% end %>

<h1>Last file uploaded income: <%= @last_file_income %></h1>
<h1>All-time gross income: <%= @all_income %></h1>